# Go packages
go.sum

# vscode configurations
.vscode

# Environment config file
.env

# Wire generated DI container
cmd/app/wire_gen.go

# Build file
build

# Nix
flake.lock
.devenv
.devenv.flake.nix
devenv.lock
